.container {
  width: 95%;
  background-color: var(--rtc-color-4);
  border: 1px solid var(--rtc-color-4);
  border-radius: var(--rtc-border-radius);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.random-img-section {
  width: 800px;
  height: 700px;
  border-radius: 6px;
  margin: 5px 0;
  position: relative;
}

.data-section {
  width: 150px;
  height: 300px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: var(--rtc-margin-m);
  font-family: var(--rtc-font-family-2);
  transition: all 0.3s ease;
}

.data-section p {
  margin: 5px;
  font-size: 0.9em;
}

.random-img-section,
.data-section {
  border: 5px solid var(--rtc-background-color);
  box-shadow: inset 0px 0px 128px -25px rgba(64, 64, 64, 1);
}

.btn {
  width: 70px;
  height: 35px;
  /* font-size: 1.1em; */
  margin: 5px;
  font-family: var(--rtc-font-family-2);
  border: 1px solid var(--rtc-background-color);
  border-radius: var(--rtc-border-radius);
}

.img-monster {
  width: 40px;
  position: absolute;
  cursor: pointer;
}

@media (max-width: 1128px) {
  .data-section {
    width: 350px;
    height: 100px;
    flex-direction: row;
  }

  .random-img-section {
    max-height: 500px;
  }

  .img-monster {
    width: 35px;
  }
}
